[four-zero-four] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[head]{
  font-size: 64px;
  font-weight: 600;
}
[primery]{
  font-size: 32px;
}
[secondry]{
  font-size: 18px;

}
