<div window>
  <div container>
    <p-panel [header]="roomName">
      <div chat-container>
        <div chat>
          <chat-window (onMessage)="handleMessage($event)" [messages]=messages
          ></chat-window>
        </div>
        <div users-view>
          <users-list users-list [usersList]="usersList"></users-list>
          <div leave-chat>
            <button pButton type="button" label="Leave Chat Room" class="p-button-danger" icon="pi pi-times"
                    styleClass="p-button-sm" (click)="handleLeaveChatRoom()"></button>
          </div>
        </div>

      </div>

    </p-panel>
  </div>
</div>
