
[chat-room-container] {
  display: flex;
}

[create-room] {
  display: flex;
}

[available-rooms] {
  max-width: 400px;
  padding-right: 10px;
}

[create-room-form] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
[create-room-form-content]{

}
[note]{
  padding: 10px;
  font-size: 10px;
  color:slategrey;
}
