<p-toast position="top-left" key="tl"></p-toast>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
  <div sign-in-container entry-tab>
    <div input-field-container>
      <div input-field-header class="p-text-left">Email address</div>
      <div input-field-text-input>
        <span class="p-inputgroup-addon"><i class="pi pi-inbox"></i></span> <input formControlName="email"
                                                                                   formControlName="email"
                                                                                   input-field-text-section type="text"
                                                                                   pInputText
                                                                                   placeholder="Email address">
      </div>
    </div>
    <button pButton type="submit" label="Click to SignIn" [disabled]="!signupForm.valid"></button>
  </div>
</form>
